PyYAML==3.11
Fabric==1.10.2
ecdsa==0.13
paramiko==1.16.0
pycrypto==2.6.1
watchdog==0.8.3
argh==0.26.1
pytest==2.8.3
flake8==2.5.0
pep8==1.5.7
pyflakes==1.0.0
boto3==1.2.2
jupyter==1.0.0
pandas==0.15.2
awscli==1.9.21
tqdm==3.8.0
